version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: samordningsyta2:docker
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=production
      - PORT=8000
    volumes:
      - samordningsyta2_data:/app/uploads

volumes:
  samordningsyta2_data:
